
.picture{
    background-image: url("./image/Слой\ 16.png");
    background-repeat: no-repeat;
    background-size:contain;
    width: 204px;
    height: 164px;
    margin-top: 20px;
    margin-left: 20px;
}

.back{
    background-image: url("./image/Прямоугольник\ 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 430px;
    margin-left: 250px;
    padding-bottom: 270px;
}

.picture1{
    background-image: url("./image/Слой\ 12.png");
    background-repeat: no-repeat;
    background-size:contain;
    width: 123px;
    height: 51px;
    position: relative;
    top: -21px;
    left: -200px;
}

.red{
    background-color: #8C0A0D;
    width: 1000px;
    height: 51px;
    
}

ul{
    font-size: 10px;
    font-weight: 800;
    text-transform:uppercase;
    float: left;
    margin-top: 25px;
    position: relative;
    left: 230px;
}

li{
    display: inline;
    padding-left: 20px;
}

a{
    outline: none;
	text-decoration: blink;
	color: #FBC37A;
}

.eng{
    background-image: url("./image/English.png");
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-left: 316px;
    margin-top: 21px;
    background-repeat: no-repeat;
}

.EN{
    position: relative;
    left: 31px;
    color: #FBC37A;
}

.roshen{

    background-image: url("./image/Слой\ 5.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid;
    width: 870px;
    height: 250px;
    margin-left: 64px;
    margin-top: 33px;
}

.roshen2{

    color: #000;
    position: absolute;
    width: 900px;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

.button{
    width: 180px;
    height: 50px;
    background-color: rgb(227, 186, 38) ;
    position: relative;
    top: 147px;
    left: 380px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 3px 8px 2px #a65b10;
    border: 1.5px solid black;

}

.text{
    color: #000;
    font-size: x-large;
    text-shadow: 2px black;
}

.bot{
    background-image: url("./image/Без\ названия\ 2.png");
    width: 200px;
    height: 20px;
    position: relative;
    left: 370px;
    top: 83px;
}

.VLEVO{
    background-image: url("./image/right-arrow-circular-button\ \(1\).png");
    width:100px;
    height: 100px;
    background-repeat: no-repeat;
    position: relative;
    top: 40px;
    left: 10px;
}

.vpravo{
    background-image: url("./image/right-arrow-circular-button\ \(1\)\ копия.png");
    width:100px;
    height: 100px;
    background-repeat: no-repeat;
    position: relative;
    top: -58px;
    left: 810px;
}
p{
    font-size: 16px;
    color: black;
    line-height: 16px;
    float: left;
    width: 200px;
    padding-right: 10px;
}
.stolb{
    width:192px;
    float:left;
    margin-left: 21px;
}
.two{
    font-weight: 900;
}


.re2{
    background-color: #8C0A0D;
    width: 1000px;
    height: 51px;
    margin-top: 320px;
    
    
}

.text_2{
    color: #FBC37A;
    font-size: 12px;
    font-weight: 800;
    line-height: 20px;
    float: left;
    margin-left: 50px;
    height: 340px;
    width: 190px;
}

.facebook{
    background-image: url("./image/Слой\ 9.png");
    position: absolute;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    margin-top: 6px;

}

.vk{
    background-image: url("./image/Слой\ 8.png");
    position: absolute;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat; 
    margin-left: -35px;
    margin-top: 6px;

}